* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spacing: 13px;
    --text-color: #333;
    --primary-color: #3e95f1;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #fe9307;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    margin-top: 50px;
    padding: 14px;
    /* font-size: 16px; */
}

.title-hub {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    color: var(--primary-color);
}

.title-hub>h3 {
    margin: 14px 0;
    color: var(--text-color);
}

form {
    width: min(100%, 800px);
    /* 使用min()函数，更简洁 */
}

input,
textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    /* font-size: 16px; */
}

textarea {
    resize: none;
}

textarea,
input[type="text"] {
    margin-top: var(--spacing);
    padding: 10px;
    width: 100%;
}

form>textarea {
    height: 100px;
}

.model-input-container {
    display: flex;
    margin-top: var(--spacing);
}

.model_left {
    margin-top: 0;
    padding: 10px;
    width: 66%;
}

.model_right {
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: var(--spacing);
    color: var(--text-color);
}

.model_right input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: var(--spacing);
}

.model_right input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: var(--warning-color);
    border: none;
    color: #fff;
}

label {
    display: inline-block;
    margin-bottom: 4px;
}

input[type="button"] {
    color: #fff;
    border: none;
}

.submit-container {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing);
    width: 100%;
}

.submit-container>input[type="button"] {
    flex: 1;
    padding: 10px;
}

.submit-container>input[type="button"]:nth-child(1) {
    background-color: var(--primary-color);
    margin-right: var(--spacing);
}

.submit-container>input[type="button"]:nth-child(2) {
    background-color: var(--success-color);
    margin-right: var(--spacing);
}

.submit-container>input[type="button"]:nth-child(3) {
    background-color: var(--danger-color);
}


.copyright {
    margin: 40px;
    text-align: center;
    color: var(--text-color);
    line-height: 1.6;
}

.copyright a {
    color: #1e88e5;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}

.copyright img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.copyright div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright div span {
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
}


.response-container {
    text-align: center;
    width: min(100%, 800px);
    margin: 40px auto 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* font-size: 16px; */
}

.response-container pre {
    white-space: pre-wrap;
    /* border: 1px solid #ddd; */
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.copy-buttons{
margin-bottom: 10px;
}

.copy-buttons>.submit-container {
    display: flex;
    justify-content: space-around;
}

.copy-buttons>.submit-container>button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--success-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
    /* Add some spacing below the table */
}

th,
td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    text-align: center;
    background-color: #f2f2f2;
    font-weight: bold;
}

.td1 {
    width: 15%;
    /* Adjust width as needed */
}

.td2 {
    width: 35%;
    /* Adjust width as needed */
}

.td3 {
    width: 15%;
    /* Adjust width as needed */
    text-align: center;
    /* Center the response time */
}

.td4 {
    width: 40%;
    max-width: 40px;
    overflow:inherit;
    /* Adjust width as needed */
}


.td1-ok {
    color: green;
    /* Style for "模型一致可用" */
}

.td1-no{
    color: rgb(211, 144, 19);
}

.td1-error{
    color: #dc3545;
}

.copy-btn2 {
    cursor: pointer;
}

.verify-btn-group {
    display: flex;
    gap: 5px;
    /* Adjust spacing between buttons as needed */
}

.verify-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    /* Adjust font size as needed */
}

.verify-btn.cyan {
    color: #fff;
    background-color: #f7ab48;
}

.verify-btn.blue {
    color: #fff;
    background-color: #3498DB;
}

.verify-btn.yellow {
    color: #fff;
    background-color: #f8606f;
}
.verify-btn.green{
    color: #fff;
    background-color: #f8606f;
}


/* Tooltip Styles (if needed) */
[data-tooltip] {
    position: relative;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    visibility: hidden;
    opacity: 0;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    white-space: nowrap;
    /* Prevent tooltip text from wrapping */
}

[data-tooltip]:hover:before {
    visibility: visible;
    opacity: 1;
}

.model-filter-container{
    display: flex;
}

.model-filter-container>input[type="text"]{
    flex: 4;
}

.model-filter-container>button:nth-child(2){
    flex: 1;
    margin: 13px 10px 0 10px;
}

.model-filter-container>button:nth-child(3){
    flex: 1;
    margin: 13px 0 0 0;
}